html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0;
}

main{
    width:75%;
    margin: auto;
}

header{
    height:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top-row{
    display:grid;
    grid-template-columns:3rem 8rem 12rem 12rem 18rem 2.5rem 2.5rem 2.5rem 3rem;
    background-color: rgba(0,0,0,0.8); 
    color: white;
}

.top-row>p{
    border-left: 0.06rem solid white;
    margin: 0;
    text-align: center;
    padding: 0.5rem 0.2rem 0.4rem 0.2rem;
}

.top-row>p:nth-child(1){
    grid-column: 2/3;
    font-size: 0.9rem;
}

.top-row>p:nth-child(2){
    grid-column: 3/4;
    font-size: 0.9rem;
}

.top-row>p:nth-child(3){
    grid-column: 4/5;
    border-right: 0.06rem solid white;
    font-size: 0.9rem;
}

.top-row>p:nth-child(4){
    grid-column: 6/7;
    font-size: 1.3rem;
}

.top-row>p:nth-child(5){
    grid-columns: 7/8;
    font-size: 1.3rem;
}

.top-row>p:nth-child(6){
    grid-columns: 8/9;
    font-size: 1.3rem;
    border-right: 0.06rem solid white;
}

.fa{
    margin:0.3rem;
}

.menu-block{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.title-menu-block{
    line-height: 0;
    font-weight: 600;
    margin: 1rem 0 0 3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1{
    font-size:2rem;
}

.title-menu-block>p:last-child{
    font-size: 0.9rem;
    text-align: right;
    font-weight: 400;
}

span{
    color:#f3d448;
    font-size: 2rem;
}

.navigation{
    margin: 0 1.3rem 0 2rem;
    display: flex;
    align-content:center;
    text-transform: uppercase;
    font-size: 1rem;
}

.navigation a{
    text-decoration: none;
    color: black;
}

.navigation>li{
    margin: 1rem 1.2rem 0 0;
    list-style-type: none;
    
}

.navigation>li:hover{
    border-bottom: 0.2rem solid rgb(61, 0, 0);
    -webkit-transition-duration: 1s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.header-img{
    background-image: url(img/header-bg-no-resized.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 78.5vh;
}

.header-img>p{
    font-size: 1.4rem;
    color:rgb(255,255,255);
    padding-top: 5.5rem;
    padding-left: 3rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.button{
    background-color: rgba(0,0,0,0.8);
    color:rgb(255,255,255);
    padding: 0.7rem 1.3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 0 0 0 3rem;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    background-color: rgb(61, 0, 0);
    transition-duration: 1s;
}