html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

main {
    width: 75%;
    margin: auto;
    letter-spacing: 0.02rem;
}

header {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top-row {
    display: grid;
    grid-template-columns: 3rem 8rem 12rem 12rem 18rem 2.5rem 2.5rem 2.5rem 3rem;
    background-color: #232325;
    color: rgba(255, 255, 255, 0.8);
}

.top-row>p {
    border-left: 0.06rem solid white;
    margin: 0;
    text-align: center;
    padding: 0.5rem 0.2rem 0.4rem 0.2rem;
}

.top-row p:hover {
    color: rgb(255, 255, 255);
}

.top-row>p:nth-child(1) {
    grid-column: 2/3;
    font-size: 0.9rem;
}

.top-row>p:nth-child(2) {
    grid-column: 3/4;
    font-size: 0.9rem;
}

.top-row>p:nth-child(3) {
    grid-column: 4/5;
    border-right: 0.06rem solid white;
    font-size: 0.9rem;
}

.top-row>p:nth-child(4) {
    grid-column: 6/7;
    font-size: 1.3rem;
}

.top-row>p:nth-child(5) {
    grid-columns: 7/8;
    font-size: 1.3rem;
}

.top-row>p:nth-child(6) {
    grid-columns: 8/9;
    font-size: 1.3rem;
    border-right: 0.06rem solid white;
}

.fa {
    margin-top: 0.3rem;
}

.menu-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.title-menu-block {
    line-height: 0;
    font-weight: 600;
    margin: 1rem 0 0 3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}

.title-menu-block>p:last-child {
    font-size: 0.9rem;
    text-align: right;
    font-weight: 400;
}

.mv {
    color: #f3d448;
    font-size: 2rem;
}

.navigation {
    margin: 0 1.3rem 0 2rem;
    display: flex;
    align-content: center;
    text-transform: uppercase;
    font-size: 1rem;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation>li {
    margin: 1rem 1.2rem 0 0;
    list-style-type: none;

}

.navigation>li:hover {
    border-bottom: 0.01rem solid rgb(61, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}


.header-img {
    background-image: url(/img/poster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 78.5vh;
}

.header-img>p {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    padding-top: 5.5rem;
    padding-left: 3rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.button {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    padding: 0.7rem 1.3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 0 0 0 3rem;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(61, 0, 0);
    transition-duration: 1s;
}

.info-block {
    display: block;
    text-align: center;
    padding-top: 4rem;
    border-right: 0.01rem solid #f3d448;
    border-left: 0.01rem solid #f3d448;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8rem;
    word-spacing: 0.1rem;
}

.about-us>h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.about-us:first-child {
    font-size: 1rem;
}

#info-icon {
    margin: 0 0.5rem 0 0;
    font-size: 2rem;
    color: #161617;
}

.about-us>p {
    padding-bottom: 0.7rem;
    font-size: 1.2rem;
    margin: 0.5rem 0 0 0;
}

.about-three-col {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

#three-col-icon {
    color: #232325;
    font-size: 4rem;
    width: 10rem;
    height: 10rem;
    background-color: #D7D7D7;
    border-radius: 100%;
    margin: 4rem 3rem 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 1s;
}

#three-col-icon:hover {
    color: rgb(255, 255, 255);
    background-color: #f3d448;
}

.courses-block {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-gap: 2.3rem;
    text-align: center;
    height: 25rem;
}

.courses-block h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.first-course {
    grid-column: 1;
    background-color: #f3d448;
}

.second-course {
    grid-column: 2;
    border-top: 0.01rem solid black;
    border-right: 0.01rem solid black;
    display: grid;
    grid-template-rows: 85% 15%;
}

.second-course :first-child {
    grid-row: 1;
}

#read-more-btn {
    grid-row: 2;
    padding: 1rem;
    width: 7rem;
    height: 1rem;
    justify-self: center;
    align-self: flex-end;
    margin: 0;
}

.third-course {
    grid-column: 3;
    border-bottom: 0.01rem solid #000;
    border-right: 0.01rem solid #f3d448;
}

#arrow-team {
    font-size: 5rem;
    color: #232325;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem auto 3rem;
    width: 4rem;
}

#arrow-team:hover {
    color: #f3d448;
    cursor: pointer;
    transition: ease 1s;
}

.team-title {
    background-color: #D7D7D7;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;
}

.img-team {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    border: 0.1rem solid #161617;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.team-block {
    display: grid;
    grid-template-columns: 22vw auto 22vw;
    grid-gap: 2rem;
    grid-template-areas: "..... lida ....." "sofia maria viktoria";
    justify-content: space-around;
}

.team-block h3 {
    text-transform: uppercase;
}

#lida {
    grid-area: lida;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#sofia {
    grid-area: sofia;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#maria {
    grid-area: maria;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#viktoria {
    grid-area: viktoria;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.photo-gallery {
    display: grid;
    grid-template-rows: 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
    grid-template-columns: 9rem 9rem 9rem 9rem 9rem 9rem;
    grid-gap: 1.84rem;
}

#gallery-title {
    display: flex;
    flex-direction: column;
    grid-area: 1/6/3/7;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.gallery-title {
    font-size: 2rem;
    text-transform: uppercase;
    transform: rotate(90deg);
    width: 20rem;
    letter-spacing: 0.3rem;
}

.gallery-title1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-top: 9rem;
}

.a {
    grid-area: 1/1/3/5;
    background-image: url(/img/classroom.jpg);
    background-size: cover;
}

.b {
    grid-area: 3/1/5/7;
    background-image: url(/img/dance.jpg);
    background-size: cover;
}

.c {
    grid-area: 5/1/7/7;
    background-image: url(/img/dictionclass.jpg);
    background-size: cover;
}

.d {
    grid-area: 7/1/9/4;
    background-image: url(/img/girl-sings.jpg);
    background-size: cover;
    border-right: 0.4rem solid rgb(255, 255, 255);
    border-top: 0.4rem solid rgb(255, 255, 255);
}

.e {
    grid-area: 7/4/9/7;
    background-image: url(/img/classroomvocal.jpg);
    background-size: cover;
    border-left: 0.4rem solid rgb(255, 255, 255);
    border-top: 0.4rem solid rgb(255, 255, 255);
}

.f {
    grid-area: 1/5/4/6;
    background-color: #f3d448;
}

.g {
    grid-area: 6/1/8/2;
    background-color: #f3d448;
    border-right: 0.1rem solid rgb(255, 255, 255);
}

.h {
    grid-area: 3/1/6/2;
    background-color: rgb(255, 255, 255);
    border-left: 0.01rem solid #161617;
    border-top: 0.01rem solid #f3d448;
}

.i {
    grid-area: 1/6/3/7;
    background-color: rgb(255, 255, 255);
    border-top: 0.01rem solid #161617;
    border-right: 0.01rem solid #161617;
}

.j {
    grid-area: 5/1/8/7;
    background-color: #f3d448;
    z-index: -1;
}

.k {
    grid-area: 5/6/7/7;
    border-left: 0.01rem solid #161617;
}

.contact-block-bg {
    background-color: #232325;
    margin-top: 3rem;
    padding: 6rem;
    position: relative;
}

.contact-block {
    background-color: rgb(255, 255, 255);
    width: 45rem;
    height: 23rem;
    margin: auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 48% 2% 48%;
    grid-template-rows: 32% 32% 32%;
    grid-gap: 3.3%;
    padding: 2rem;
}

.icons-contact {
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3rem;
}

#icon-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D7D7D7;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: #232325;
    border-radius: 100%;
    transition: ease 1s;
    margin-right: 0.7rem;
}

#icon-contact:hover {
    color: rgb(255, 255, 255);
    background-color: #f3d448;
}

.content-contact {
    grid-area: 2/1/3/2;
    margin-left: 3rem;
}

.content-contact p:first-child {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #232325;
    font-weight: 600;
}

.vl {
    grid-area: 1/2/4/3;
    border-left: 0.02rem solid #232325;
    height: 22rem;
    margin-top: 0.5rem;
}

.formaction {
    grid-area: 1/3/4/4;
    margin-left: 2rem;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 15rem;
    padding: 0.3rem 1.2rem;
    margin: 0.5rem 0;
    display: block;
    border: 0.1rem solid #f3d448;
    border-radius: 4px;
}

input[type=text]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 0.1rem solid #232325;
    border-radius: 4px;

    transition: ease 0.5s;
}


option:hover {
    border: 1rem solid #232325;
}

#message {
    width: 15rem;
    height: 8rem;
}

#button-contact {
    padding: 0.4rem 1.4rem;
}

.button-align {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #232325;
    display: flex;
    justify-content: space-around;
    flex-basis: 0;
    margin-top: 2rem;
    height: 15rem;
    text-transform: uppercase;
    line-height: 2rem;

}

.menu-footer li {
    list-style-type: none;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.8);
}

.menu-footer li:hover {
    color: rgb(255, 255, 255);
}

.menu-footer li:first-child {
    color: #f3d448;
    font-size: 1.5rem;
}

.menu-footer i {
    margin-right: 0.4rem;
}

#footer-contact li {
    font-size: 1rem;
}

#footer-contact li:first-child {
    color: #f3d448;
    font-size: 1.5rem;
}

#footer-contact li:last-child>i {
    font-size: 2rem;
}

.icons-footer {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 1.4rem;
}

.icons-footer-hov:hover {
    color: rgb(255, 255, 255);
}

.footer-phrase {
    color: #f3d448;
    font-size: 1rem;
    align-self: center;
}
